/*estilo general*/

@media (max-width: 767px) {

    a {
        text-decoration: none;
        color: black;
    }
    nav a {
        text-decoration:none;
        color:inherit;
        font-size: 15px;
        font-family: 'Righteous';
        } 
        nav li {
        width: 8%;
        padding:5px 5px;
        background-color: #053540;
        border:2px ridge #2A8C68;
        border-radius: 5px;
        text-align:center;
        color: #5CF2AC;
        }
        nav li:hover {
        background-color:#50F296;
        color:#053540;
    }

}

@media (min-width: 768px) {

    a {
        text-decoration: none;
        color: black;
    }
    nav a {
        text-decoration:none;
        color:inherit;
        font-size: 15px;
        font-family: 'Righteous';
        } 
        nav li {
        width: 8%;
        padding:5px 5px;
        background-color:#053540;
        border:2px ridge #2A8C68;
        border-radius: 5px;
        text-align:center;
        color:#5CF2AC;
        }
        nav li:hover {
        background-color:#50F296;
        color:#053540;
    }

}


.Menu li {
    margin: 1px;
}


h1 {
    color: #010326;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-left: 35px;
    margin-bottom: 12px;
    text-decoration: underline;
}

h2 {
    color: #010326;
    font-style: italic;
    font-weight: bolder;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h3 {
    color: #010326;
    font-weight: bolder;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

form {
    text-align: center;
}

.piePag {
    background-image: linear-gradient( to Right, #010326 , #5CF2AC , #010326 );
    color: white;
    padding-left: 20px;
    margin: 20px 0;
}

.piePag p {
    margin: 0 -2px;
}


ul {
    list-style: none;
}


/*estilos por secciones*/

/*!index*/
.productosIndex {
    display: flex;
    justify-content: center;

}

.productosIndex img {
    margin: 20px;
}

.videosIndex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

hr {
    width: 80%;
    margin: 50px auto;
}



/*TODO: quienes somos*/

.imagenesQuienesSomos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenesQuienesSomos img {
    width: 400px;
    height: 250px;
    margin: 20px 20px 0px 20px;
    border: 8px double black;
    border-radius: 10px;
}

.imagenesQuienesSomos p {
    margin-top: 0px;
    font-size: 20px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}


.titulo__Azul h4 {
    color:#5CF2AC;
    background-color: #053540;
    margin: 20px;
}

.parrafo__Gris {
    background-color: rgb(199, 198, 198);
    margin: 20px;
}

.parrafo__Gris p {
    line-height: 1.3;
}

.maps {
    text-align: center;
}

/*!productos*/

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 170px;
}

.productos img {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 180px;
    border-radius: 5px;
    transition: all 0.3s;
}

.productos h4 {
    text-align: center;
}

.productos p {
    text-align: center;
    margin: -2px 0;
}

.productos button {
    display: block;
    border-radius: 10px;
    width: 200px;
    font-size: 15px;
    margin: 10px auto;
}

.prod1 {
    border: 2px solid black;
    border-radius: 20px;
    width: 350px;
    height: 350px;
    margin: 10px;

}


.prod2 {
    border: 2px solid black;
    border-radius: 20px;
    width: 350px;
    height: 350px;
    margin: 10px;
}

.prod3 {
    border: 2px solid black;
    border-radius: 20px;
    width: 350px;
    height: 350px;
    margin: 10px;
}

.prod4 {
    border: 2px solid black;
    border-radius: 20px;
    width: 350px;
    height: 350px;
    margin: 10px;
}

.prod5 {
    border: 2px solid black;
    border-radius: 20px;
    width: 350px;
    height: 350px;
    margin: 10px;
}
.prod6 {
    border: 2px solid black;
    border-radius: 20px;
    width: 350px;
    height: 350px;
    margin: 10px;
}

.productos img:hover {
    transform: scale(1.5);
}

/*?galeria*/


.videoGaleria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenesGaleria img {
    margin: 10px;
    transition: all 0.3s;
}

.imagenesGaleria img:hover {
    transform: scale(1.5);
}

@media (max-width: 767px) {

    .imagenesGaleria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    
    }
    
}

@media (min-width: 768px) {

    .imagenesGaleria {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
}



/*contacto*/

.formularioCentrado {

    display: flex;
    justify-content: center;

}


/*TODO:*/




